In [2]:
import random
stu_list = [
    "강지윤",
    "고범석",
    "구자현",
    "구재회",
    "기원준",
    "김승호",
    "김지민",
    "남궁건우",
    "모지호",
    "문소희",
    "민경재",
    "박수빈",
    "박현아",
    "변성일",
    "안수민",
    "우민규",
    "우지훈",
    "이명인",
    "이석민",
    "이유나",
    "이재범",
    "장시인",
    "장진슬",
    "전진혁",
    "정호엽",
    "지형우",
    "최성장",
    "최호연",
    "홍성의",
    "홍채우",
]
print(len(stu_list))

30

In [8]:
# num_stu = [(f'{index}번', value) for index, value in enumerate(stu_list, start=1)]
num_stu = [(index , value) for index, value in enumerate(stu_list, start=1)]
# num_stu
# for index, value in enumerate(num_stu, start=1):
#     print(f'{index}번', value)

num_stu

[(1, '강지윤'),
 (2, '고범석'),
 (3, '구자현'),
 (4, '구재회'),
 (5, '기원준'),
 (6, '김승호'),
 (7, '김지민'),
 (8, '남궁건우'),
 (9, '모지호'),
 (10, '문소희'),
 (11, '민경재'),
 (12, '박수빈'),
 (13, '박현아'),
 (14, '변성일'),
 (15, '안수민'),
 (16, '우민규'),
 (17, '우지훈'),
 (18, '이명인'),
 (19, '이석민'),
 (20, '이유나'),
 (21, '이재범'),
 (22, '장시인'),
 (23, '장진슬'),
 (24, '전진혁'),
 (25, '정호엽'),
 (26, '지형우'),
 (27, '최성장'),
 (28, '최호연'),
 (29, '홍성의'),
 (30, '홍채우')]

In [25]:
class Student:
    def __init__(self, stu_id, name, age=None, major=None, mbti=None, hobbit=None, address=None):
        self.stu_id = stu_id
        self.name = name
        self.age = age
        self.major = major
        self.mbti = mbti
        self.hobbit = hobbit
        self.address = address
        
    def add_age(self,age):
        #1과 100사이의 값 이외는 예외처리
        if age <= 1 or age >= 100:
            raise AgeError(age)
        self.age = age
 
class AgeError(Exception):
    def __init__(self, age):
        pass

In [33]:
#리스트에서 이름으로 해당 객체 불러오기
def find_student_by_name(students, target_name):
    for student in students:
        if student.name == target_name:
            return student

a = find_student_by_name(students,"구재회")
a

'구재회'

In [21]:
#Student 객체를 list이용해서 생성하여 list로 반환
students = []
for stu_id, name in num_stu:
    students.append(Student(stu_id,name))

students

[<__main__.Student at 0x1cb529c9b80>,
 <__main__.Student at 0x1cb529ca1e0>,
 <__main__.Student at 0x1cb54322cc0>,
 <__main__.Student at 0x1cb54320650>,
 <__main__.Student at 0x1cb54321a90>,
 <__main__.Student at 0x1cb54322780>,
 <__main__.Student at 0x1cb54320890>,
 <__main__.Student at 0x1cb54320410>,
 <__main__.Student at 0x1cb54320530>,
 <__main__.Student at 0x1cb54320290>,
 <__main__.Student at 0x1cb54322120>,
 <__main__.Student at 0x1cb54322180>,
 <__main__.Student at 0x1cb54320080>,
 <__main__.Student at 0x1cb543237a0>,
 <__main__.Student at 0x1cb543236e0>,
 <__main__.Student at 0x1cb543206b0>,
 <__main__.Student at 0x1cb543207d0>,
 <__main__.Student at 0x1cb543207a0>,
 <__main__.Student at 0x1cb543209b0>,
 <__main__.Student at 0x1cb54322480>,
 <__main__.Student at 0x1cb54322c60>,
 <__main__.Student at 0x1cb54322510>,
 <__main__.Student at 0x1cb54322b10>,
 <__main__.Student at 0x1cb54322570>,
 <__main__.Student at 0x1cb54322870>,
 <__main__.Student at 0x1cb54322690>,
 <__main__.Student at 0x1cb54322360>,
 <__main__.Student at 0x1cb54322660>,
 <__main__.Student at 0x1cb54322390>,
 <__main__.Student at 0x1cb54321460>]

In [18]:
#대상 인자가 하나면 tuple을 반환 인자가 2개일 경우 tuple안에 각각 객체를 반환
for v, v1 in num_stu:
    print(v, v1)

1 강지윤
2 고범석
3 구자현
4 구재회
5 기원준
6 김승호
7 김지민
8 남궁건우
9 모지호
10 문소희
11 민경재
12 박수빈
13 박현아
14 변성일
15 안수민
16 우민규
17 우지훈
18 이명인
19 이석민
20 이유나
21 이재범
22 장시인
23 장진슬
24 전진혁
25 정호엽
26 지형우
27 최성장
28 최호연
29 홍성의
30 홍채우

In [44]:
for _ in l1:
    n1 += 1
    print(n1)

11
12
13
14

In [35]:
num = 5
random.shuffle(stu_list)
# print(range((len(stu_list) + num - 1) // num ))
# print(stu_list[i * num : (i + 1) * num])
result = [
    stu_list[i * num : (i + 1) * num] for i in range((len(stu_list) + num - 1) // num )
]

# for i in range(2):
#     print(i)

[['전진혁', '민경재', '이유나', '이명인', '김승호'], ['김지민', '강지윤', '변성일', '장진슬', '최호연'], ['박현아', '문소희', '지형우', '이석민', '장시인'], ['최성장', '고범석', '구자현', '박수빈', '이재범'], ['구재회', '기원준', '정호엽', '홍성의', '우지훈'], ['홍채우', '모지호', '남궁건우', '안수민', '우민규']]

In [31]:
for idx, r in enumerate(result, start=1):
    print(f"{idx}조: ", end="")
    for name in r:
        print(name, end=',  ')
    print()

1조: 정호엽,  변성일,  김승호,  우지훈,  모지호,
2조: 남궁건우,  문소희,  장시인,  박수빈,  이명인,
3조: 안수민,  홍성의,  구자현,  강지윤,  민경재,
4조: 지형우,  최성장,  김지민,  우민규,  홍채우,
5조: 구재회,  고범석,  최호연,  fake1,  전진혁,
6조: 이석민,  fake2,  이재범,  박현아,  이유나,